{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block content %}

<div class="about_container">

        <div class="about_page_bar"></div>


        <div class="mission">

                <div class="about_mission">
                        <b>Who We Are</b>
                        {% include_block page.mission_statement|richtext %}
                </div>

                {% image page.mission_pic width-770 class="mission_pic" %}


        </div>


        <div class="page_bar1"></div>


        <div class="history">

                {% image page.history_pic width-770 class="history_pic" %}

                <div class="about_history">
                        <b>What We've Done</b>
                        {% include_block page.history|richtext %}
                </div>

        </div>  


        <div class="page_bar2"></div>


        <div class="gaming">

                <div class="about_gaming">
                        <b>Gaming</b>
                        {% include_block page.gaming_info|richtext %}
                </div>

                {% image page.gaming_pic width-770 class="gaming_pic" %}

        </div>

</div>


{% endblock content %}