{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block content %}

<div class="about_container">

        <div class="about_page_bar"></div>


        <div class="mission">

                <div class="about_mission">
                        <b>Who We Are</b>
                        {% include_block page.mission_statement|richtext %}
                        <div class="contact_links">
                                <span>Any questions or requests:</span>
                                <a href="mailto:info@circus-records.co.uk" target="_blank"><button>please reach out here</button></a>
                                <span>or email info@circus-records.co.uk</span>
                                <hr style="width:100%">
                                <span>We accept demos via LabelRadar <b>only</b>. Please use the links below to submit:</span>
                                <a href="https://www.labelradar.com/labels/circusrecords/profile" target="_blank"><button>circus records + circus electric</button></a>
                                <a href="mailto:dpmouk@gmail.com" target="_blank"><button>DPMO</button></a>
                        </div>   
                </div>

                {% image page.mission_pic original class="mission_pic" %}


        </div>


        <div class="page_bar1"></div>


        <div class="history">

                {% image page.history_pic original class="history_pic" %}

                <div class="about_history">
                        <b>What We've Done</b>
                        {% include_block page.history|richtext %}
                </div>

        </div>  


        <div class="page_bar2"></div>


        <div class="gaming">

                <div class="about_gaming">
                        <b>Gaming</b>
                        {% include_block page.gaming_info|richtext %}
                </div>

                {% image page.gaming_pic original class="gaming_pic" %}

        </div>

</div>


{% endblock content %}