{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% comment %} {% load wagtailcore_tags home_tags %} {% endcomment %}
{% load wagtailembeds_tags %}

{% load static %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'static/css/artist_page.css' %}">
{% endblock %}

{% block extra_js %}
        <script type="text/javascript">
            /* curator-feed-default-feed-layout */
            (function(){
            var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
            i.src="https://cdn.curator.io/published/54bbeb02-1d85-40ca-b034-9302277871ec.js";
            e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
        </script>
{% endblock %}

{% block content %}

<div class="artist-content">

    <div class="artist_page_bar"></div>

        <div class="back_to_artists">
            <a href="{% slugurl 'roster' %}"><div class="button back_button">⬅ back to artists</div></a>
        </div>

        <div class="artist-name">{{page.title}}</div>
        <div class="artist-info">{{page.bio|richtext}}</div>

        <div class="artist_pic">
            {% image page.photo original class="artist_pic_static" %}
        </div>

        <div class="artist-socials">
            {% if page.spotify %}
            <div class="social_icon">
                <a href="{{page.spotify}}"><img src="{% static 'static/image/spotify_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}
            {% if page.instagram %}
            <div class="social_icon">
                <a href="{{page.instagram}}"><img src="{% static 'static/image/ig_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}
            {% if page.twitter%}
            <div class="social_icon">
                <a href="{{page.twitter}}"><img src="{% static 'static/image/twitter_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}

        </div>

        <!-- PANELS  -->

        <div class="artist_panels">

        <!-- RELEASES -->

        {% if releases %}
        <div class="latest_releases content_box">
            <span class="panel_title releases_title">Latest Releases</span>
            <ul class="releases_list">
            {% for release in releases %}
                <li class="release_list_item">
                    <a href="{{release.url}}">{% image release.artwork max-250x250 class="latest_release_pic" %}</a>
                </li>
            {% endfor %}
                <li class="release_list_item">
                    <a href="{% slugurl 'releases' %}"><img src="{% static 'static/image/blue_block3.jpg' %}" class="latest_release_pic see_more"></a>
                </li>
            </ul>
        </div>
        {% endif %}

        <!-- MERCH -->

        {% if merch %}
        <div class="merch content_box">
            <span class="panel_title merch_title">Latest Merch</span>
            <ul class="merch_list">
            {% for item in merch %}
                <li class="merch_list_item">
                    <a href="{{item.url}}">{% image item.image max-250x250 class="merch_pic" %}</a>
                </li>
            {% endfor %}
                <li class="merch_list_item">
                    <a href="{% slugurl 'merch' %}"><img src="{% static 'static/image/red_block3.jpg' %}" class="merch_pic see_more"></a>
                </li>
            </ul>
        </div>
        {% endif %}

        <!-- PLAYLIST -->

        {% if request.in_preview_panel %}

        <span>Open full preview to see this widget</span>

        {% else %}

        {% if playlist %}    
        <div class="playlist content_box">
            {% for p in playlist %}
                {% embed p.url %}
            {% endfor %}
        </div>
        {% endif %}

        {% endif %}

        <!-- NEWS -->

        {% if news %}
        <div class="artist-news-item content_box">
            <span class="panel_title news_title">Latest News</span>
            <ul class="news_list">
            {% for item in news %}
                <li>
                    <a href="{{item.url}}">{% image item.image max-500x281 class="news_pic" %}</a>
                </li>
            {% endfor %}
            </ul>

        </div>
        {% endif %}

        <!-- LISTINGS -->

        {% if request.in_preview_panel %}
        <span>Open full preview to see this widget</span>

        {% else %}

        {% if listings %}
        <div class="live_dates content_box">
            <span class="panel_title listings_title">Live Dates</span>
            <ul class="livedate_list">
            {% for listing in listings %}
                <li class="livedate">
                    <a href={{ listing.4 }}>
                        <div>
                            <span class="event">{{ listing.1 }}</span>
                            <br>
                            <span>{{ listing.0 }}</span>
                            <br>
                            <span>{{ listing.2 }} {{ listing.3 }}</span>    
                        </div>   
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% endif %}
    
        </div>

    <div class="social_feed">
    <div class="curator_feed" id="curator-feed-default-feed-layout">
        <a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a>
    </div>
    </div>
    
</div>

{% endblock content %}