{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% comment %} {% load wagtailcore_tags home_tags %} {% endcomment %}
{% load wagtailembeds_tags %}

{% load static %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/artist_page.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick_artistpage.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme_artistpage.css' %}"/>
{% endblock %}

{% block content %}

<div class="artist-content">

    <div class="artist_page_bar"></div>

        <div class="back_to_artists">
            <a href="{% slugurl 'artists' %}"><div class="button back_button">⬅ Back to Artists</div></a>
        </div>

        <div class="artist-name">{{page.title}}</div>

        {% comment %} <div class="artist-info">{{page.bio|richtext|slice:":200"}}
            <span id="dots">...</span>
            <span id="more">{{page.bio|richtext|slice:"200:"}}</span>

            <button class="readmore_button" onclick="readMore()" id="myBtn">Read more</button>
        </div> {% endcomment %}

        <div class="artist-info">
            {{page.bio|richtext}}
        </div>

        <div class="artist_pic_landscape">
            {% image page.photo width-900 class="artist_pic_static" %}
        </div>

        <div class="artist_pic_square">
            {% image page.thumbnail fill-400x400 class="artist_pic_static" %}
        </div>

        <div class="artist-socials">
            {% if page.spotify %}
            <div class="social_icon">
                <a href="{{page.spotify}}"><img src="{% static 'image/spotify_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}
            {% if page.apple_music %}
            <div class="social_icon">
                <a href="{{page.apple_music}}"><img src="{% static 'image/apple_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}
            {% if page.instagram %}
            <div class="social_icon">
                <a href="{{page.instagram}}"><img src="{% static 'image/ig_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}
            {% if page.twitter%}
            <div class="social_icon">
                <a href="{{page.twitter}}"><img src="{% static 'image/x_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}
            {% if page.tiktok %}
            <div class="social_icon">
                <a href="{{page.tiktok}}"><img src="{% static 'image/tiktok_logo_500.png' %}" class="sicon_pic"></a>
            </div>
            {% endif %}

        </div>

        <!-- PANELS  -->

        <div class="artist_panels">

        <!-- PLAYLIST -->

        
        {% if page.playlist %}
            <div class="panel_bar playlists_bar"></div>
            <span class="panel_title playlists_title">Playlists</span>
            <ul class="playlists">
                <li class="playlist_item"> 
                    <iframe class="playlist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ page.playlist|slice:"34:56" }}?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </li>
                <li class="playlist_item"> 
                    <iframe class="playlist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4fb2qvWwMaN8MessXZ6yLm?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </li>
                <li class="playlist_item"> 
                    <a href="{% slugurl 'playlists' %}" class="see_more_playlist"><span class="see_more_playlist_text playlist">See More Playlists</span></a>
                </li>
            </ul>
        {% endif %}


        <!-- RELEASES -->

        {% if releases %}
        <div class="latest_releases content_box">
            <div class="panel_bar releases_bar"></div>
            <span class="panel_title releases_title">Latest Releases</span>
            <ul class="releases_list artist_list">
            {% for release in releases %}
                <li class="release_list_item">
                    <a href="{{release.url}}">{% image release.artwork original class="latest_release_pic" %}</a>
                </li>
            {% endfor %}
                <li class="release_list_item">
                    <a href="{% slugurl 'releases' %}" target="_blank"><img src="{% static 'image/blue_block4.jpg' %}" class="latest_release_pic see_more"></a>
                </li>
            </ul>
        </div>
        {% endif %}

        <!-- MERCH -->

        {% if merch %}
        <div class="merch content_box">
            <div class="panel_bar merch_bar"></div>
            <span class="panel_title merch_title">Latest Merch</span>
            <ul class="merch_list artist_list">
            {% for item in merch %}
                <li class="merch_list_item">
                    <a href="{{item.url}}">{% image item.image max-250x250 class="merch_pic" %}</a>
                </li>
            {% endfor %}
                <li class="merch_list_item">
                    <a href="https://circus-records.store" target="_blank"><img src="{% static 'image/red_block4.jpg' %}" class="merch_pic see_more"></a>
                </li>
            </ul>
        </div>
        {% endif %}

        <!-- NEWS -->

        {% if news %}
        <div class="artist-news-item content_box">
            <div class="panel_bar news_bar"></div>
            <span class="panel_title news_title">Mailing List Exclusives</span>
            <ul class="news_list">
            {% for item in news %}
                <li class="news_list_item">
                    <a href="{{item.url}}">{% image item.image max-500x281 class="news_pic" %}</a>
                </li>
            {% endfor %}
                <li class="news_list_item">
                    <a href="{% slugurl 'signup' %}"><img src="{% static 'image/sign_up2.png' %}" class="news_pic"></a>
                </li>
            </ul>

        </div>
        {% endif %}

        <!-- LISTINGS -->

        {% if request.in_preview_panel %}
        <span>Open full preview to see this widget</span>

        {% else %}

        {% if listings %}
        <div class="live_dates content_box">
            <div class="panel_bar listings_bar"></div>
            <span class="panel_title listings_title">Live Dates</span>
            <ul class="livedate_list artist_list">
            {% for listing in listings|slice:":4" %}
                <li class="live_date_item">
                    <a href={{ listing.4 }} target="_blank">
                        <div class="livedate">
                            <span class="event">{{ listing.1 }}</span>
                            <br>
                            <span class="location">{{ listing.0 }}</span>
                            <br>
                            <span class="date">{{ listing.2 }} {{ listing.3 }}</span>    
                        </div>   
                    </a>
                </li>
            {% endfor %}
            <li class="live_date_item">
                <a href={{ page.songkick_url }} target="_blank">
                    <div class="see_more_live">
                        <span>See More<br>Live Dates</span> 
                    </div>   
                </a>
            </li>
            </ul>
        </div>
        {% endif %}

        {% endif %}
    
        </div>

        {% if page.rss_feed %}
        <div class="social_feed">
            <rssapp-wall id="{{page.rss_feed}}"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
        </div>
        {% endif %}

    
</div>

{% block extra_js %}

        <script type="text/javascript">
            /* curator-feed-default-feed-layout */
            (function(){
            var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
            i.src="https://cdn.curator.io/published/54bbeb02-1d85-40ca-b034-9302277871ec.js";
            e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
        </script>
        <script src="{% static 'js/readmore.js' %}"></script>
        <script src="{% static 'slick/slick.min.js' %}"></script>
        <script src="{% static 'js/releases_slick.js' %}"></script>
        <script src="{% static 'js/news_slick_list.js' %}"></script>
        <script src="{% static 'js/playlists_slick_list.js' %}"></script>

{% endblock %}

{% endblock content %}