{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/artists.css' %}">
        <link rel="stylesheet" href="{% static 'css/releases.css' %}">
        <link rel="stylesheet" href="{% static 'css/merch.css' %}">
        <link rel="stylesheet" href="{% static 'css/bumpers.css' %}">
        <link rel="stylesheet" href="{% static 'css/news.css' %}">
        <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
{% endblock %}

{% block extra_js %}
        <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
        <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}

{% block content %}

<div class="carousel-container">
        <div class="main-carousel carousel">
                {% for slide in page.carousel_images.all %}
                <div class="carousel-cell"><a href="{{slide.link}}">{% image slide.carousel_image max-1500x600 class="responsive_banner_large" %}</a></div>
                {% endfor %}
        </div>
        <div class="info_box_container">
                <div class="info_box"></div>
        </div>
</div>


{% include_block page.body %}


<div class="bumper-container">

        <div class="bumper">
                        <button class="button responsive_bumper_item button1">About</button>
                        <button class="button responsive_bumper_item button2">Playlists</button>
                        <button class="button responsive_bumper_item button3">Merch</button>
                        <button class="button responsive_bumper_item button4">Artists</button>
        </div>

</div>

{% endblock content %}
