{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/artists.css' %}">
        <link rel="stylesheet" href="{% static 'css/releases.css' %}">
        <link rel="stylesheet" href="{% static 'css/merch.css' %}">
        <link rel="stylesheet" href="{% static 'css/bumpers.css' %}">
        <link rel="stylesheet" href="{% static 'css/news.css' %}">
        <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}

{% block content %}

<div class="carousel-container">
        <div class="main-carousel carousel">
                {% for slide in page.carousel_images.all %}
                <div class="carousel-cell">
                        {% image slide.carousel_image original class="responsive_banner_large" %}
                        {% image slide.carousel_image fill-1000x590 class="responsive_banner_small" %}
                        <div class="slide_info">
                                <span class="carousel_type">{{slide.type}}</span>
                                <span class="carousel_text">{{slide.text}}</span>
                                <a href="{{slide.link}}"><span class="carousel_more">more...</span></a>
                        </div>
                </div>
                {% endfor %}
        </div>
        <div class="info_box_container">
                <div class="info_box">

                </div>
        </div>
</div>


{% include_block page.body %}


<div class="bumper-container">

        <ul class="bumper">
                <div class="bumpers1">
                        <a class="flex_bumper" href="{% slugurl 'about' %}"><li class="responsive_bumper_item"><span>About</span></li></a>
                        <a class="flex_bumper" href="{% slugurl 'playlists '%}"><li class="responsive_bumper_item"><span>Playlists</span></li></a>
                </div>
                <div class="bumpers2">
                        <a class="flex_bumper" href="https://circus-records.store/"><li class="responsive_bumper_item"><span>Merch</span></li></a>
                        <a class="flex_bumper" href="{% slugurl 'artists' %}"><li class="responsive_bumper_item"><span>Artists</span></li></a>
                </div>
        </ul>

</div>

{% block extra_js %}
        <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
        <script src="{% static 'js/carousel.js' %}"></script>
        <script src="{% static 'slick/slick.min.js' %}"></script>
        <script src="{% static 'js/homepage_slick.js' %}"></script>
        <script src="{% static 'js/news_slick_list.js' %}"></script>
{% endblock %}

{% endblock content %}
