{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/releases_page.css' %}">
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="release-page-container">

    <div class="releases_page_bar"></div>

    {% if artists %}
    <form class="filter_form" method="GET" action="{{page.url}}">
        <select id="select-beast-empty" data-placeholder=""  autocomplete="off" name="artist">
            <option value="">All</option>
            {% for artist in artists %}
            <option value="{{artist.slug}}" {% if filtered_artist == artist.slug %}selected{% endif %}>{{artist.title}}</option>
            {% endfor %}
        </select>
        {% if filtered_artist %}<a class="reset_button" href="{{page.url}}">Reset</a>{% endif %}
        <button class="submit_button" type="submit">Filter</button>
    </form>
    {% endif %}

<div class="releases_catalogue_container">
        
        <ul class="releases_list">
        {% for release in page_obj.object_list %}
        <li class="release_list_item">
            <div class="format">
                <span class="release_label">{{release.release_label}}</span>
                <span class="release_type">{{release.release_type}}</span>
            </div>
            <a href="{{release.url}}" class="releases" target="_blank">
                {% image release.artwork original class="responsive_packshot" %}
            </a>


            <div class="release_info">

                <ul class="release_credits">
                    <li class="release_artist_name">{{release.artist}}</li>
                    <li class="release_title">{{release.title}}</li>
                </ul>


                {% if release.artist_pages.all %}
                <ul class="release__artist-tags">
                    {% for artist in release.artist_pages.all %}
                        <li>
                            <a href="{{artist.url}}"><span class="release_artist_name_link">{{artist.title}}</span></a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                {% endif %}


            </div>

        </li>
        {% endfor %}
        </ul>

</div>

        <ul class="page_numbers">
        {% for page_number in page_obj.paginator.page_range %}
            <li>
                <a href="?page={{page_number}}{% if pagination_params %}&{{pagination_params}}{% endif %}" class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
            </li>
        {% endfor %}
        </ul>

</div>

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script src="{% static 'js/releaseselect.js' %}"></script>
{% endblock %}

{% endblock content %}