{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/releases_page.css' %}">
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="release-page-container">

    <div class="releases_page_bar"></div>

    <div class="releases_main_descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    {% comment %} <div class="filters">
            <div class="button filter_button">FILTERS</div>
    </div> {% endcomment %}

<div class="releases_catalogue_container">

        {% if artists %}
        <form class="filter_form" method="GET" action="{{page.url}}">
            <select id="select-beast-empty" data-placeholder=""  autocomplete="off" name="artist">
                <option value="">All</option>
                {% for artist in artists %}
                <option value="{{artist.slug}}" {% if filtered_artist == artist.slug %}selected{% endif %}>{{artist.title}}</option>
                {% endfor %}
            </select>
            {% if filtered_artist %}<a href="{{page.url}}">Reset</a>{% endif %}
            <button class="submit_button" type="submit">Filter</button>
        </form>
        {% endif %}

        <ul class="releases_list">
        {% for release in page_obj.object_list %}
        <li class="release_list_item">
            <a href="{{release.url}}" class="releases">
                {% image release.artwork original class="responsive_packshot" %}
            </a>
            {% if release.artist_pages.all %}
            <ul class="release__artist-tags">
                {% for artist in release.artist_pages.all %}
                    <li>
                        <a href="{{artist.url}}"><span class="release_artist_name_link">{{artist.title}}</span></a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <span class="release_artist_name">{{release.artist}}</span>
            {% endif %}
            <span class="release_title">{{release.title}}</span>
            <span class="release_type">{{release.release_type}}</span>
        </li>
        {% endfor %}
        </ul>
        {% for page_number in page_obj.paginator.page_range %}
        <ul>
            <li>
                <a href="?page={{page_number}}" class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
            </li>
        </ul>
    {% endfor %}
</div>

</div>

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script src="{% static 'js/releaseselect.js' %}"></script>
{% endblock %}

{% endblock content %}