{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/roster.css' %}">
{% endblock %}

{% block content %}

<div class="roster-container">

        <div class="roster_page_bar"></div>
        
        <ul class="artists">
                {% for artist in artists %}
                    <li>
                        <a href="{{artist.url}}">
                            {% comment %} {% image artist.thumbnail original class="responsive_packshot" %} {% endcomment %}
                           <span class="artist">{{artist.title}}</span>
                        </a>
                    </li>
                {% endfor %}
        </ul>


</div>

{% endblock content %}