{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick_artistpage.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme_artistpage.css' %}"/>
{% endblock %}

{% block content %}

<div class="signup_container">
        <div class="signup_page_bar"></div>

        <div class="signup_content">

                <div class="signup_info">

                        <div class="signup_main_descrip">
                                {% include_block page.signup_text|richtext %}
                        </div>

                        <div class="contact_form">
                                <div class="ml-embedded" data-form="Yt7bAm"></div>
                        </div>

                </div>

                <img src="{% static 'image/fluxlivemin2.jpg' %}" class="signup_pic_static">

        </div>

        <div class="list_content_title">
                <div class="list_bar"></div>
                <span>Exclusive Mailing List Content</span>
                <span class="list_info">Check out some of the recent interviews, sneak-peeks and documentaries featured in our mailer. Sign up to be the first to see them, straight to your inbox!</span>

        </div>

        <ul class="mailing_list_content news_list">
                {% for i in news %}
                <li class="news-items">
                    {% image i.image original class="news_image" %}
                    {% comment %} <span class="news_text">{{news.description|richtext}}</span> {% endcomment %}
                </li>
                {% endfor %}
        </ul>

</div>

{% block extra_js %}

        <script src="{% static 'slick/slick.min.js' %}"></script>
        <script src="{% static 'js/signup_slick_list.js' %}"></script>

{% endblock %}


{% endblock content %}