anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.11.2
bugsnag==4.5.0
certifi==2025.1.31
charset-normalizer==3.4.1
defusedxml==0.7.1
Django==5.2.1
django-extensions==4.0
django-filter==23.5
django-modelcluster==6.4
django-permissionedforms==0.1
django-storages==1.14.2
django-taggit==6.1.0
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs-exporter==2.1.7
et_xmlfile==2.0.0
filetype==1.2.0
html5lib==1.1
idna==3.10
l18n==2021.3
laces==0.1.2
openpyxl==3.1.5
pillow==10.4.0
pillow_heif==0.22.0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
telepath==0.3.1
urllib3==2.3.0
wagtail==6.3.4
wagtail-autocomplete==0.12.0
wagtail-cache==2.5.1
webencodings==0.5.1
WebOb==1.8.9
whitenoise==6.9.0
Willow==1.8.0
