{% load wagtailimages_tags static %}
{% load wagtailcore_tags %}

    <div class="artists_title">
        <div class="artists_bar"></div>
        <div>Artists</div>
    </div>  

    <ul class="artists_list slick_list">
    {% for artist in value.artists %}
        <li class="artist-item">
            <a href="{{artist.url}}">
                {% image artist.logo original class="artist-logo" %}
                {% image artist.thumbnail original class="artist-image" %}
            </a>
            <span class="artist_name">{{artist.title}}</span>
        </li>
    {% endfor %}
    <li class="artist-item see_more_artist">
        <a href="{% slugurl 'artists' %}" aria-label="See more Circus Records artists">
        <img src="{% static 'image/artists_tiled-blurred3.jpg' %}" class="artist-image">
        </a>
    </li>
    </ul>
