{% load wagtailimages_tags static %}
{% load wagtailcore_tags %}

{% if latest_releases %}

    <div class="releases_title">
        <div class="releases_bar"></div>
        <div>{{value.title}}</div>
    </div>   
    
    <ul class="releases_list slick_list">

        {% for release in latest_releases %}
        <li class="release_list_item">

            <div class="item_content">

                <div class="format">
                    <span class="release_label">{{release.release_label}}</span>
                    <span class="release_type">{{release.release_type}}</span>
                </div>
                <a href="{{release.url}}" target="_blank" class="releases">
                    {% image release.artwork original class="responsive_packshot" %}
                </a>


                <div class="release_info">

                    <ul class="release_credits">
                        <li class="release_artist_name">{{release.artist}}</li>
                        <li class="release_title">{{release.title}}</li>
                    </ul>


                    {% if release.artist_pages.all %}
                    <ul class="release__artist-tags">
                        {% for artist in release.artist_pages.all %}
                            <li>
                                <a href="{{artist.url}}"><span class="release_artist_name_link">{{artist.title}}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {% endif %}


                </div>

            </div>

        </li>
        {% endfor %}

        <li class="release_list_item see_more">
            <a href="{% slugurl 'releases' %}" aria-label="See more Circus releases"><img src="{% static 'image/blue_block4.jpg' %}" class="responsive_packshot"></a>
        </li>

    </ul>

{% endif %} 
