{% load wagtailimages_tags static %}
{% load wagtailcore_tags %}

{% if latest_merch %}

    <div class="merch_title">
        <div class="merch_bar"></div>
        <div>Merch</div>
    </div>

    <ul class="merch-items slick_list">
        {% for item in latest_merch %}
            <li class="merch-item">
                <a href="{{item.url}}" target="_blank" class="merch-pic">
                    {% image item.image original class="responsive_merch" %}
                </a>
                <span class="merch_item_title">{{item.title}}</span>
                {% comment %} <span class="merch_item_price">{{item.price}}</span>
                <span class="merch_item_type">{{item.merch_type}}</span> {% endcomment %}
            </li>
        {% endfor %}
            <li class="merch-item">
                <a href="https://circus-records.store" target="_blank" aria-label="See more Circus records merch"><img src="{% static 'image/red_block4.jpg' %}" class="responsive_merch"></a>
            </li>
    </ul>
    
{% endif %}