{% load wagtailimages_tags static %}
{% load wagtailcore_tags %}

{% if latest_news %}

<div class="news_container">
    <div class="news_title">
            <div class="news_bar"></div>
            <div>{{value.title}}</div>
    </div>
</div>

<ul class="news_list news_slick_list">
    {% for news in latest_news %}
    <li class="news-items">
        <a href="{{value.url}}" target="_blank" >
            {% image news.image original class="responsive_news" %}
        </a>
    </li>
    {% endfor %}
    <li class="news-items">
        <a href="{% slugurl 'signup' %}"><img src="{% static 'image/sign_up.png' %}" class="responsive_news"></a>
    </li>
</ul>

{% endif %}
