{% load wagtailimages_tags static %}
{% load wagtailcore_tags %}

{% if latest_releases %}

    <div class="releases_title">
        <div class="releases_bar"></div>
        <div>{{value.title}}</div>
    </div>   
    
    <ul class="releases_list">
        {% for release in latest_releases %}
        <li class="release_list_item">
            <a href="{{release.url}}" class="releases">
                {% image release.artwork original class="responsive_packshot" %}
            </a>
            {% if release.artist_pages.all %}
            <ul class="release__artist-tags">
                {% for artist in release.artist_pages.all %}
                    <li>
                        <a href="{{artist.url}}"><span class="release_artist_name_link">{{release.artist}}</span></a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <span class="release_artist_name">{{release.artist}}</span>
            {% endif %}
            <span class="release_title">{{release.title}}</span>
            <span class="release_type">{{release.release_type}}</span>
        </li>
        {% endfor %}
        <div class="release_list_item">
            <a href="{% slugurl 'releases' %}"><img src="{% static 'image/blue_block3.jpg' %}" class="responsive_packshot"></a>
        </div>
    </ul>

{% endif %} 
