{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}

<ul class="playlist_list">
    {% for playlist in value.objects %}
    <li class="playlist_item">
        <span class="playlist_header">{{playlist.headline}}</span>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ playlist.url|slice:"34:56" }}?utm_source=generator" width="100%" height="730" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <spa class="playlist_descrip">{{playlist.description|richtext}}</span>
    </li>
    {% endfor %}
</ul>