{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <link rel="stylesheet" type="text/css" href="{% static 'css/base_page.css' %}">

        {% block extra_css %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="burger-bg" id="colour_burger_menu">
            <div class="menu_top_images">
                        <img src="{% static 'image/menu_cross.png' %}" class="menu_icon" onclick="dropDown()">
                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_white.png' %}" class="menu_logo"></a>
            </div>
            <div class="burger-container">
                    <ul class="burger-elements element1">
                            <li class="burger-link"><a href="releases">Releases</a></li>
                            <li class="burger-link"><a href="https://circus-records.store/">Merch</a></li>
                            <li class="burger-link"><a href="{% slugurl 'artists' %}">Artists</a></li>
                            <li class="burger-link"><a href="{% slugurl 'playlists' %}">Playlists</a></li>
                            <li class="burger-link"><a href="{% slugurl 'about' %}">About</a></li>
                            <li class="burger-link"><a href="{% slugurl 'signup' %}">Sign Up</a></li>
                    </ul>
                    <ul class="burger-elements element2">
                            <li class="burger-link">
                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f" class="b-link-content">
                                        <span>Spotify</span>
                                        <img src="{% static 'image/spotify_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.instagram.com/circusrecords/" class="b-link-content">
                                        <span>Instagram</span>
                                        <img src="{% static 'image/ig_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.youtube.com/c/circusrecords" class="b-link-content">
                                        <span>YouTube</span>
                                        <img src="{% static 'image/youtube_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.twitch.tv/circusrecords" class="b-link-content">
                                        <span>Twitch</span>
                                        <img src="{% static 'image/twitch_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f" class="b-link-content">
                                        <span>Facebook</span>
                                        <img src="{% static 'image/fb_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.instagram.com/circusrecords/" class="b-link-content">
                                        <span>TikTok</span>
                                        <img src="{% static 'image/tiktok_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.youtube.com/c/circusrecords" class="b-link-content">
                                        <span>Twitter</span>
                                        <img src="{% static 'image/twitter_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.twitch.tv/circusrecords" class="b-link-content">
                                        <span>Soundcloud</span>
                                        <img src="{% static 'image/sc_logo_500_w.png' %}" class="sicon">
                                </a>
                            </li>
                    </ul>
            </div>
        </div>
        
        <div class="sticky-header">
                <div class="logos">
                        <div onclick="dropDown()" class="bar_menu">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                        </div>
                                <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo.png' %}" class="responsive_logo circus_logo"></a>
                                <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_word_black.png' %}" class="responsive_logo circus_wordlogo"></a>
                </div>

                <div class="header-links">
                        <a href="{% slugurl 'releases' %}" class="releases_link"><div class="header-link hlink1">Releases</div></a>
                        <a href="https://circus-records.store/" class="merch_link"><div class="header-link hlink2">Merch</div></a>
                        <a href="{% slugurl 'artists' %}" class="artist_link"><div class="header-link hlink3">Artists</div></a>
                        <a href="{% slugurl 'playlists' %}" class="playlists_link"><div class="header-link hlink4">Playlists</div></a>
                        <a href="{% slugurl 'about' %}" class="about_link"><div class="header-link hlink5">About</div></a>
                        <a href="{% slugurl 'signup' %}" class="signup_link"><div class="header-link hlink6">Sign Up</div></a>
                </div>        

        </div>

        {% block content %}{% endblock %}

        <div class="footer-container">
                <div class="footer_bar"></div>
                <div class="footer_links">

                        <ul class="footer-list">
                                <li class="footer-logo"><img src="{% static 'image/circus_logo-min.png' %}" class="responsive_footer_logo"></li>
                                <a href="{% slugurl 'about' %}" class="about_link"><li class="footer-link">About</li></a>
                                <a href="https://www.labelradar.com/labels/circusrecords/profile"><li class="footer-link">Demo Submission</li></a>
                        </ul>

                        <ul class="footer-list">
                                <li class="footer-link">Terms & Conditions</li>
                                <a href="{% slugurl 'about' %}" class="about_link"><li class="footer-link">Contact</li></a>
                                <a href="{% slugurl 'signup' %}" class="signup_link"><li class="footer-link">Sign Up</li></a>
                                <li class="footer-link">Privacy Policy</li>
                        </ul>

                        <ul class="footer-list">

                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f">
                                        <li class="footer-link">
                                                <span>Spotify</span>
                                                <img src="{% static 'image/spotify_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>

                                <a href="https://www.instagram.com/circusrecords/">
                                        <li class="footer-link">
                                                <span>Instagram</span>
                                                <img src="{% static 'image/ig_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>    

                                <a href="https://www.youtube.com/c/circusrecords">
                                        <li class="footer-link">
                                                <span>YouTube</span>
                                                <img src="{% static 'image/youtube_logo_500_b.png' %}" class="footer-icon">
                                        </li>
                                </a>   

                                <a href="https://www.twitch.tv/circusrecords">
                                        <li class="footer-link">
                                                <span>Twitch</span>
                                                <img src="{% static 'image/twitch_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>    

                        </ul>

                        <ul class="footer-list">

                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f">
                                        <li class="footer-link">
                                                <span>Facebook</span>
                                                <img src="{% static 'image/fb_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>

                                <a href="https://www.instagram.com/circusrecords/">
                                        <li class="footer-link">
                                                <span>TikTok</span>
                                                <img src="{% static 'image/tiktok_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>    

                                <a href="https://www.youtube.com/c/circusrecords">
                                        <li class="footer-link">
                                                <span>Twitter</span>
                                                <img src="{% static 'image/twitter_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>   

                                <a href="https://www.twitch.tv/circusrecords">
                                        <li class="footer-link">
                                                <span>Soundcloud</span>
                                                <img src="{% static 'image/sc_logo_500.png' %}" class="footer-icon">
                                        </li>
                                </a>   
                        </ul>

                </div>
                <div class="footer_bar2"></div>
        </div>
        

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/circus_site_2023.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/roster.js' %}"></script>

    </body>
</html>
