{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8" />
                <title>
                    {% block title %}
                    {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
                    {% endblock %}
                    {% block title_suffix %}
                    {% wagtail_site as current_site %}
                    {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
                    {% endblock %}
                </title>
                <meta name="description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
                <meta name="viewport" content="width=device-width, initial-scale=1" />


                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({‘gtm.start’:
                new Date().getTime(),event:‘gtm.js’});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!=‘dataLayer’?‘&l=‘+l:‘’;j.async=true;j.src=
                ’https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,‘script’,‘dataLayer’,‘GTM-5Z9PR9W’);</script>
                <!-- End Google Tag Manager -->
        
                <!-- Google / Search Engine Tags -->
                <meta itemprop="name" content="Circus Records | Ruining Silence Since 2009">
                <meta itemprop="description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
                <meta itemprop="image" content="/static/image/image/circus_logo_1k.png">
        
                <!-- Facebook Meta Tags -->
                <meta property="og:url" content="http://circus-records.co.uk">
                <meta property="og:type" content="website">
                <meta property="og:title" content="Circus Records | Ruining Silence Since 2009">
                <meta property="og:description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
                <meta property="og:image" content="/static/image/circus_logo_1k.png">
        
                <!-- Twitter Meta Tags -->
                <meta name="twitter:card" content="summary_large_image">
                <meta name="twitter:title" content="Circus Records | Ruining Silence Since 2009">
                <meta name="twitter:description" content="Founded in 2009 by Doctor P and Flux Pavilion, Circus Records is a globally-recognised record label specialising in bass music.">
                <meta name="twitter:image" content="/static/image/circus_logo_1k.png">
        
                <!-- favicon -->
                <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
                <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
                <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
                <link rel="manifest" href="{% static 'image/site.webmanifest' %}">
                <link rel="mask-icon" href="{% static 'image/safari-pinned-tab.svg' %}" color="#5bbad5">
                <meta name="msapplication-TileColor" content="#da532c">
                <meta name="theme-color" content="#ffffff">

                {# Global stylesheets #}
                <link rel="stylesheet" type="text/css" href="{% static 'css/base_page.css' %}">
        
                {% block extra_css %}
                {% endblock %}

                <!-- cookie consent banner -->
                <script type="text/javascript" src="https://app.termly.io/embed.min.js" data-auto-block="on" data-website-uuid="f3256be2-9222-4931-af5e-caadf001600d"></script>
        
                <!-- jquery -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        
                <!-- MailerLite Universal -->
                <script>
                        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
                        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
                        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
                        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
                        ml('account', '244170');
                </script>
                <!-- End MailerLite Universal -->
        </head>

        <body class="{% block body_class %}{% endblock %}">

                <!-- Google Tag Manager (noscript) -->
                <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z9PR9W"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->

        {% wagtailuserbar %}

        <div class="burger-bg" id="colour_burger_menu">
        <!-- Pure CSS Gradient Background Animation by https://manuel.pinto.dev/ see https://codepen.io/P1N2O/pen/pyBNzX -->
            <div class="menu_top_images"></div>
            <div class="burger-container">
                <div class="element1">
                    <ul class="burger-elements b_list_1">
                            <li class="burger-link"><a href="{% slugurl 'releases' %}">releases</a></li>
                            <li class="burger-link"><a href="https://circus-records.store/" target="_blank">merch</a></li>
                            <li class="burger-link"><a href="{% slugurl 'artists' %}">artists</a></li>
                            <li class="burger-link"><a href="{% slugurl 'playlists' %}">playlists</a></li>
                            <li class="burger-link"><a href="{% slugurl 'about' %}">about</a></li>
                            <li class="burger-link"><a href="{% slugurl 'signup' %}">sign up</a></li>
                    </ul>
                </div>
                <div class="element2">
                    <ul class="burger-elements b_list_2">
                            <li class="burger-link">
                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/spotify_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">spotify</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.instagram.com/circusrecords/" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/ig_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">instagram</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.youtube.com/c/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/youtube_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">youtube</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.twitch.tv/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/twitch_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">twitch</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.facebook.com/circusrecords/" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/fb_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">facebook</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.tiktok.com/@circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/tiktok_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">tiktok</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://twitter.com/circus_records" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/x_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">x</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://soundcloud.com/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/sc_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">soundcloud</span>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="sticky-header" id="sticky_bg">
                <div class="logos">
                        <div onclick="menuAni(this); dropDown()" class="bar_menu">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                        </div>                        
                        <div class="tohide">
                                <div class="circus_logo_container">        
                                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_1k.png' %}" class="circus_logo"></a>
                                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_textoneline.png' %}" class="circus_wordlogo"></a>
                                </div>
                        </div>
                </div>

                <div class="header-links">
                        <a href="{% slugurl 'releases' %}" class="tohide releases_link"><div class="header-link hlink1">releases</div></a>
                        <a href="https://circus-records.store/" target="_blank" class="tohide merch_link"><div class="header-link hlink2">merch</div></a>
                        <a href="{% slugurl 'artists' %}" class="artist_link"><div class="tohide header-link hlink3">artists</div></a>
                        <a href="{% slugurl 'playlists' %}" class="playlists_link"><div class="tohide header-link hlink4">playlists</div></a>
                        <a href="{% slugurl 'about' %}" class="about_link"><div class="tohide header-link hlink5">about</div></a>
                        <a href="{% slugurl 'signup' %}" class="signup_link"><div class="tohide header-link hlink6">sign up</div></a>
                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_white.png' %}" id="burger_logo" class="burger_logo"></a>

                </div>

                <div class="signup_header">   
                        <a href="{% slugurl 'signup' %}" class="signup_link"><div class="header-link hlink6 tohide">Sign Up</div></a>

                </div>

        </div>

        {% block content %}{% endblock %}

        <div class="footer-container">
                <div class="footer_bar"></div>
                <div class="footer_links">

                        <ul class="footer-list">
                                <li class="footer-logo"><img src="{% static 'image/circus_logo-min.png' %}" class="responsive_footer_logo"></li>
                                <a href="{% slugurl 'about' %}" class="about_link"><li class="footer-link">about</li></a>
                                <a href="https://www.labelradar.com/labels/circusrecords/profile" target="_blank"><li class="footer-link">demo submission</li></a>
                        </ul>

                        <ul class="footer-list">
                                <a href="{% slugurl 'about' %}" class="about_link"><li class="footer-link">contact</li></a>
                                <a href="{% slugurl 'signup' %}" class="signup_link"><li class="footer-link">sign up</li></a>
                                <li class="footer-link">terms & conditions</li>
                                <li class="footer-link">privacy policy</li>
                        </ul>

                        <ul class="footer-list">

                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/spotify_logo_500.png' %}" class="footer-icon">
                                                <span>spotify</span>
                                        </li>
                                </a>

                                <a href="https://www.instagram.com/circusrecords/" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/ig_logo_500.png' %}" class="footer-icon">
                                                <span>instagram</span>
                                        </li>
                                </a>    

                                <a href="https://www.youtube.com/c/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/youtube_logo_500_b.png' %}" class="footer-icon">
                                                <span>youtube</span>
                                        </li>
                                </a>   

                                <a href="https://www.twitch.tv/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/twitch_logo_500.png' %}" class="footer-icon">
                                                <span>twitch</span>
                                        </li>
                                </a>    

                        </ul>

                        <ul class="footer-list">

                                <a href="https://www.facebook.com/circusrecords/" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/fb_logo_500.png' %}" class="footer-icon">
                                                <span>facebook</span>
                                        </li>
                                </a>

                                <a href="https://www.tiktok.com/@circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/tiktok_logo_500.png' %}" class="footer-icon">
                                                <span>tiktok</span>
                                        </li>
                                </a>    

                                <a href="https://twitter.com/circus_records" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/x_logo_500.png' %}" class="footer-icon">
                                                <span>x</span>
                                        </li>
                                </a>   

                                <a href="https://soundcloud.com/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/sc_logo_500.png' %}" class="footer-icon">
                                                <span>soundcloud</span>
                                        </li>
                                </a>   
                        </ul>

                </div>
                <div class="footer_bar2"></div>
        </div>
        

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/circus_site_2023.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/roster.js' %}"></script>

    </body>
</html>
