{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/base_page.css' %}">

        {% block extra_css %}
        {% endblock %}

        <!-- jquery -->

        {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> {% endcomment %}

        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

        <!-- MailerLite Universal -->
        <script>
                (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
                .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
                n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
                (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
                ml('account', '***REMOVED***');
        </script>
        <!-- End MailerLite Universal -->
        </head>

        <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="burger-bg" id="colour_burger_menu">
            <div class="menu_top_images">
                        {% comment %} <img src="{% static 'image/menu_cross.png' %}" class="menu_icon" onclick="dropDown()"> {% endcomment %}
            </div>
            <div class="burger-container">
                <div class="element1">
                    <ul class="burger-elements">
                            <li class="burger-link"><a href="{% slugurl 'releases' %}">Releases</a></li>
                            <li class="burger-link"><a href="https://circus-records.store/" target="_blank">Merch</a></li>
                            <li class="burger-link"><a href="{% slugurl 'artists' %}">Artists</a></li>
                            <li class="burger-link"><a href="{% slugurl 'playlists' %}">Playlists</a></li>
                            <li class="burger-link"><a href="{% slugurl 'about' %}">About</a></li>
                            <li class="burger-link"><a href="{% slugurl 'signup' %}">Sign Up</a></li>
                    </ul>
                </div>
                <div class="element2">
                    <ul class="burger-elements">
                            <li class="burger-link">
                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/spotify_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">Spotify</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.instagram.com/circusrecords/" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/ig_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">Instagram</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.youtube.com/c/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/youtube_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">YouTube</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.twitch.tv/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/twitch_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">Twitch</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.facebook.com/circusrecords/" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/fb_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">Facebook</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.instagram.com/circusrecords/" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/tiktok_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">TikTok</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.youtube.com/c/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/x_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">X</span>
                                </a>
                            </li>
                            <li class="burger-link">
                                <a href="https://www.twitch.tv/circusrecords" target="_blank" class="b-link-content">
                                        <img src="{% static 'image/sc_logo_500_w.png' %}" class="sicon">
                                        <span class="link_text">Soundcloud</span>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="sticky-header" id="sticky_bg">
                <div class="logos">
                        <div onclick="menuAni(this); dropDown()" class="bar_menu">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                        </div>
                                {% comment %} <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_fulltext_withbadge.png' %}" class="responsive_logo circus_logoandword tohide"></a> {% endcomment %}
                        
                        <div class="tohide">
                                <div class="circus_logo_container">        
                                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_1k.png' %}" class="circus_logo"></a>
                                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_textoneline.png' %}" class="circus_wordlogo"></a>
                                </div>
                        </div>
                </div>

                <div class="header-links">
                        <a href="{% slugurl 'releases' %}" class="tohide releases_link"><div class="header-link hlink1">Releases</div></a>
                        <a href="https://circus-records.store/" target="_blank" class="tohide merch_link"><div class="header-link hlink2">Merch</div></a>
                        <a href="{% slugurl 'artists' %}" class="artist_link"><div class="tohide header-link hlink3">Artists</div></a>
                        <a href="{% slugurl 'playlists' %}" class="playlists_link"><div class="tohide header-link hlink4">Playlists</div></a>
                        <a href="{% slugurl 'about' %}" class="about_link"><div class="tohide header-link hlink5">About</div></a>
                        <a href="{% slugurl 'signup' %}" class="signup_link"><div class="tohide header-link hlink6">Sign Up</div></a>
                        <a href="{% slugurl 'home' %}"><img src="{% static 'image/circus_logo_white.png' %}" id="burger_logo" class="burger_logo"></a>

                </div>

                <div class="signup_header">   
                        <a href="{% slugurl 'signup' %}" class="signup_link"><div class="header-link hlink6 tohide">Sign Up</div></a>

                </div>

        </div>

        {% block content %}{% endblock %}

        <div class="footer-container">
                <div class="footer_bar"></div>
                <div class="footer_links">

                        <ul class="footer-list">
                                <li class="footer-logo"><img src="{% static 'image/circus_logo-min.png' %}" class="responsive_footer_logo"></li>
                                <a href="{% slugurl 'about' %}" class="about_link"><li class="footer-link">About</li></a>
                                <a href="https://www.labelradar.com/labels/circusrecords/profile" target="_blank"><li class="footer-link">Demo Submission</li></a>
                        </ul>

                        <ul class="footer-list">
                                <li class="footer-link">Terms & Conditions</li>
                                <a href="{% slugurl 'about' %}" class="about_link"><li class="footer-link">Contact</li></a>
                                <a href="{% slugurl 'signup' %}" class="signup_link"><li class="footer-link">Sign Up</li></a>
                                <li class="footer-link">Privacy Policy</li>
                        </ul>

                        <ul class="footer-list">

                                <a href="https://open.spotify.com/user/circusrecordsofficial?si=c53a5a9123a3405f" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/spotify_logo_500.png' %}" class="footer-icon">
                                                <span>Spotify</span>
                                        </li>
                                </a>

                                <a href="https://www.instagram.com/circusrecords/" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/ig_logo_500.png' %}" class="footer-icon">
                                                <span>Instagram</span>
                                        </li>
                                </a>    

                                <a href="https://www.youtube.com/c/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/youtube_logo_500_b.png' %}" class="footer-icon">
                                                <span>YouTube</span>
                                        </li>
                                </a>   

                                <a href="https://www.twitch.tv/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/twitch_logo_500.png' %}" class="footer-icon">
                                                <span>Twitch</span>
                                        </li>
                                </a>    

                        </ul>

                        <ul class="footer-list">

                                <a href="https://www.facebook.com/circusrecords/" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/fb_logo_500.png' %}" class="footer-icon">
                                                <span>Facebook</span>
                                        </li>
                                </a>

                                <a href="https://www.instagram.com/circusrecords/" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/tiktok_logo_500.png' %}" class="footer-icon">
                                                <span>TikTok</span>
                                        </li>
                                </a>    

                                <a href="https://www.youtube.com/c/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/x_logo_500.png' %}" class="footer-icon">
                                                <span>X</span>
                                        </li>
                                </a>   

                                <a href="https://www.twitch.tv/circusrecords" target="_blank">
                                        <li class="footer-link social-link">
                                                <img src="{% static 'image/sc_logo_500.png' %}" class="footer-icon">
                                                <span>Soundcloud</span>
                                        </li>
                                </a>   
                        </ul>

                </div>
                <div class="footer_bar2"></div>
        </div>
        

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/circus_site_2023.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/loadimages.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/roster.js' %}"></script>

    </body>
</html>
