p {
    display: flex;
}

.hlink5 {
    text-decoration: underline;
    color: #f7e905;
    text-decoration-thickness: 4px;
    pointer-events: none;
}

.about_container {
    display: grid;
    grid-template-columns: auto minmax(100px, 1540px) auto;
    grid-template-rows: 48px auto 50px auto 50px auto;
}

.about_page_bar {
    width: 100%;
    height: 2px;
    background-color: #f7e905;
    margin: 3px 0;
    grid-column: 2 / span 2;
    grid-row: 1;
}

.mission {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-flow: row;
    margin-bottom: 30px;
}

.about_mission {
    font-family: Acrom;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-basis: 50%;
}

.mission_pic {
    padding-right: 2rem;
    padding-left: 2rem;
    object-fit: cover;
    height: auto;
    max-width: 50%;
}

.page_bar1 {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 3px 0;
    grid-column: 2;
    grid-row: 3;
}

.history {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-flow: row;
    margin-bottom: 30px;
}

.about_history {
    font-family: Acrom;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

.history_pic {
    padding-right: 2rem;
    padding-left: 2rem;
    object-fit: cover;
    height: auto;
    max-width: 50%;
}

.page_bar2 {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 3px 0;
    grid-column: 2;
    grid-row: 5;
}

.gaming {
    grid-column: 2;
    grid-row: 6;
    display: flex;
    flex-flow: row;
    margin-bottom: 30px;
}

.about_gaming {
    font-family: Acrom;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

.gaming_pic {
    padding-right: 2rem;
    padding-left: 2rem;
    object-fit: cover;
    height: auto;
    max-width: 50%;
}

@media screen and (max-width: 1200px) {

    .mission_pic, .history_pic, .gaming_pic {
        max-width: 100%;
    }

    .mission {
        flex-flow: column;
        align-items: center;
    }

    .history {
        flex-flow: column-reverse;
        align-items: center;
    }
    
    .gaming {
        flex-flow: column;
        align-items: center;
    }

}

@media screen and (max-width: 600px) {

    .about_container {
        font-size: small;
    }

    .about_mission {
        flex-basis: 100%;
    }

}