#more {display: none;}

.hlink3 {
    text-decoration: underline;
    color: #e805f6;
    text-decoration-thickness: 4px;
}

.back_to_artists {
    grid-column: 2 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
}

.back_button {
    background-color: #e805f6;
    padding: 8px 16px;
}

.content_box {
    padding-top: 2rem;
    width:100%;
}

.artist_list, .news_list, .playlists {
    list-style-type: none;
    padding-top: 3.5rem;
    width: 90%; 
    padding-left: 0;
    margin:0px auto;
}

.artist-content {
    font-family: Acrom;
    display: grid;
    grid-template-columns: auto minmax(100px, 770px) minmax(100px, 770px) auto;
    grid-template-rows: 48px 48px auto minmax(240px, auto) 75px auto auto;
    padding-bottom: 5vh;
}

.panel_title {
    position: absolute;
    /* padding-left: 2rem; */
    padding-top: 0.5rem;
    font-size: larger;
}

.artist_page_bar {
    width: 100%;
    height: 2px;
    background-color: #e805f6;
    margin: 3px 0;
    grid-column: 2 / span 2 ;
    grid-row: 1;
}

.panel_bar {
    width: 100%;
    height: 2px;
    margin: 3px 0;
}

.playlists_bar {
    background-color: #03c842;
}

.releases_bar {
    background-color: #0814f1;
}

.merch_bar {
    background-color: #f40405;
}

.listings_bar {
    background-color: black;
}

.news_bar {
    background-color: #e805f6;
}

.title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bar {
    width: 550px;
    height: 2px;
    background-color: #e805f6;
}

.see_more {
    width: 250px;
    height: auto;
}


/* --------------------------------------------------------- */


.artist-name {
    font-size: x-large;
    grid-row: 3;
    grid-column: 2;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.artist-info {
    grid-row: 4;
    grid-column: 2;
    padding-right: 50px;
    /* overflow: hidden; */
    padding-left: 2rem;
}

.readmore_button {
    background-color: #e805f6;
    font-family: Acrom;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 5%;
    border: none;
    font-size: medium;
    cursor: pointer;
}


/* --------------------------------------------------------- */


.artist_pic_landscape {
    grid-row: 2 / span 4;
    grid-column: 3;
    padding-left: 2rem;
    padding-right: 2rem;
    /* display: inline; */
}

.artist_pic_square {
    /* grid-row: 2 / span 4;
    grid-column: 3;
    padding-left: 2rem;
    padding-right: 2rem; */
    display: none;
}

.artist_pic_static {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 3%;
}

/* --------------------------------------------------------- */

.artist-socials {
    grid-row: 5;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    margin-top: 5px;
}

.social_icon {
    padding: 10px;
}

.sicon1 {
    padding-left: 0px;
}

.sicon_pic {
    width: 30px;
}

/* --------------------------------------------------------- */

.artist_panels {
    grid-column: 2 / span 2;
    grid-row: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

/* --------------------------------------------------------- */

.playlists {
    /* padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    gap: 10px;
    justify-content: space-evenly; */
}

.playlist {
    /* flex-basis: 40%; */
}

.see_more_playlist {
    border-radius:12px;
    width: 100%;
    height: 352px !important;
    background-color: #03c842;
}

.playlists_title {
    color:#03c842;
}

/* --------------------------------------------------------- */


.release_list_item, .merch_list_item, .live_date_item, .news_list_item, .playlist_item {
    margin: 10px;
}

.releases_title {
    color: #0814f1;
}

.latest_release_pic, .merch_pic ,.livedate {
    border-radius: 3%;
    border: 1px solid rgb(85, 85, 85);
    height: auto;
    width: 100%;
}



/* --------------------------------------------------------- */

.livedate {
    padding: 1rem;
    color: black;
}

.see_more_live {
    padding: 1rem;
    color: white;
    background-color: grey;
    border-radius: 3%;
}

.event {

}

/* --------------------------------------------------------- */


.merch_title {
    color: #f40405;
}

/* --------------------------------------------------------- */

.artist-news-item {
    /* padding-right: 2rem; */
}

.news_pic {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.news_title {
    color: #e805f6;
}

/* --------------------------------------------------------- */

.social_feed {
    padding-top: 100px;
    grid-row: 12;
    grid-column: 2 / span 2;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* --------------------------------------------------------- */


@media screen and (max-width: 900px) {

    .artist_pic_static {
        border-radius: 3%;
        object-fit: none;
    }

    /* .artist_pic_landscape {
        display: none;
    }

    .artist_pic_square {
        display: inline;
    } */

    .artist_pic_landscape {
        grid-row: 4;
        grid-column: 2 / span 2;
        padding-left: 2rem;
        padding-right: 2rem;
        /* display: none; */
    }

    .artist-content {
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: 48px 48px 48px auto 48px minmax(75px, auto) auto auto;
    }


    .artist_pic_square {
        /* grid-row: 4;
        grid-column: 2 / span 2; */
    }

    .artist_pic_static {
        width: 100%;
    }

    .artist-socials {
        grid-row: 5;
        grid-column: 2;
    }

    .artist-name {
        grid-column: 2 / span 2;
    }

    .artist-info {
        grid-row: 6;
        grid-column: 2 / span 2;
        padding-right: 2rem;
    }

    .artist_panels {
        grid-row: 7;
    }

    .social_feed {
        grid-row: 8;
    }

    .playlist {
        max-width: 100%;
    }

}

