#more {display: none;}

.hlink3 {
    text-decoration: underline;
    color: #e805f6;
    text-decoration-thickness: 4px;
    /* pointer-events: none; */
}

.back_to_artists {
    grid-column: 2 / span 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
}

.back_button {
    background-color: #e805f6;
    padding: 8px 16px;
}

.content_box {
    padding-top: 2rem;
    overflow-x: hidden;
}

.artist_list {
    list-style-type: none;
    margin: 0;
    padding-top: 3.5rem;
    overflow: hidden;
    height: 320px;
    width: 100%; 
    padding-left: 0;
}

.artist-content {
    font-family: Acrom;
    display: grid;
    grid-template-columns: auto minmax(100px, 770px) minmax(100px, 770px) auto;
    grid-template-rows: 48px 48px 48px minmax(240px, auto) 75px auto auto;
    padding-bottom: 5vh;
}

.panel_title {
    position: absolute;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: larger;
}

.artist_page_bar {
    width: 100%;
    height: 2px;
    background-color: #e805f6;
    margin: 3px 0;
    grid-column: 2 / span 2 ;
    grid-row: 1;
}

.title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bar {
    width: 550px;
    height: 2px;
    background-color: #e805f6;
}

.see_more {
    width: 250px;
    height: auto;
}


/* --------------------------------------------------------- */


.artist-name {
    font-size: x-large;
    grid-row: 3;
    grid-column: 2;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.artist-info {
    grid-row: 4;
    grid-column: 2;
    padding-right: 100px;
    overflow: hidden;
    padding-left: 2rem;
}

.readmore_button {
    background-color: #e805f6;
    font-family: Acrom;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 5%;
    border: none;
    font-size: medium;
    cursor: pointer;
}


/* --------------------------------------------------------- */


.artist_pic_landscape {
    grid-row: 2 / span 4;
    grid-column: 3;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline;
}

.artist_pic_square {
    grid-row: 2 / span 4;
    grid-column: 3;
    padding-left: 2rem;
    padding-right: 2rem;
    display: none;
}

.artist_pic_static {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* --------------------------------------------------------- */

.artist-socials {
    grid-row: 5;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.social_icon {
    padding: 10px;
}

.sicon1 {
    padding-left: 0px;
}

.sicon_pic {
    width: 30px;
}

/* --------------------------------------------------------- */

.artist_panels {
    grid-column: 2 / span 2;
    grid-row: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --------------------------------------------------------- */

.playlist {
    padding-top: 2rem;
    max-width: 50%;
    padding-left: 2rem;
}

/* --------------------------------------------------------- */

.release_list_item:first-child {
    /* margin-right: 50px; */
}

.release_list_item {

}

.releases_title {
    color: #0814f1;
}

.latest_release_pic, .merch_pic {
    border-radius: 3%;
    border: 1px solid rgb(85, 85, 85);
    height: 250px;
    width: auto;
}



/* --------------------------------------------------------- */

.livedate {
    width: 250px;
    height: 250px;
    padding: 1rem;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    color: black;
}

.event {
    overflow: hidden;
}

/* --------------------------------------------------------- */


.merch_title {
    color: #f40405;
}

/* --------------------------------------------------------- */

.artist-news-item {
    padding-right: 2rem;
}

.news_pic {
    width: auto;
    height: 250px;
    border-radius: 8px;
}

.news_title {
    color: #e805f6;
}

/* --------------------------------------------------------- */

.social_feed {
    padding-top: 100px;
    grid-row: 12;
    grid-column: 2 / span 2;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* --------------------------------------------------------- */


@media screen and (max-width: 1500px) {

    .latest_release_pic, .merch_pic, .livedate {
        height: 16vw;
        width: 16vw;
        margin-left: 3vw;
    }
    
    .artist_list {
        height: 22vw;
    }
}

@media screen and (max-width: 1300px) {

    .latest_release_pic, .merch_pic, .livedate {
        height: 20vw;
        width: 20vw;
        margin-left: 2.5vw;
    }   
    
    .artist_list {
        height: 28vw;
    }
}

@media screen and (max-width: 1100px) {

    .artist_list {
        height: 30vw;
    }
}

@media screen and (max-width: 900px) {

    .artist_pic_static {
        border-radius: 3%;
        object-fit: none;
    }

    .artist_pic_landscape {
        display: none;
    }

    .artist_pic_square {
        display: inline;
    }

    .latest_release_pic, .merch_pic, .livedate {
        height: 25vw;
        width: 25vw;
        margin-left: 5vw;
    }

    .artist_list {
        height: 36vw;
    }
       

}

@media screen and (max-width: 750px) {
    
    .latest_release_pic, .merch_pic, .livedate {
        height: 38vw;
        width: 38vw;
        margin-left: 5vw;
    }

    .artist_list {
        height: 52vw;
    }
       
}


@media screen and (max-width: 600px) {


    .artist-content {
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: 48px 48px 48px auto 48px minmax(75px, auto) auto auto;
    }


    .artist_pic_square {
        grid-row: 4;
        grid-column: 2 / span 2;
    }

    .artist_pic_static {
        width: 100%;
    }

    .artist-socials {
        grid-row: 5;
        grid-column: 2;
    }

    .artist-name {
        grid-column: 2 / span 2;
    }

    .artist-info {
        grid-row: 6;
        grid-column: 2 / span 2;
        padding-right: 2rem;
    }

    .artist_panels {
        grid-row: 7;
    }

    .social_feed {
        grid-row: 8;
    }

    .playlist {
        max-width: 100%;
        padding-right: 2rem;
    }

    .merch_list {
        flex-flow: row;
        overflow: hidden;
    }

    .latest_release_pic, .merch_pic, .livedate {
        margin-left: 5vw;
    }

    .artist_list {
        height: 65vw;
    }

}

