@font-face 
{
  font-family: "Acrom - Extra Bold"; 
  src: url("fonts/The-Northern-Block-Ltd-Acrom-ExtraBold-1.otf") format("opentype");

}
@font-face {
  font-family: "Acrom";
  src: url("fonts/The-Northern-Block-Ltd-Acrom-1.otf") format("opentype"); 
}


.hideoverflow {overflow:hidden;}

html {
    box-sizing: border-box;

  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

h6 {
    font-family: Acrom;
}

ul.burger-elements {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.header-links a:visited {
    text-decoration: none;
    color: black;
}

.burger-link a:visited {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
}

.header-link {
    text-underline-offset: 12px;
}

.button {
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: large;
    font-family: Acrom;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

/* --------------------------------------------------------- BURGER MENU */

.burger-bg {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    display: none;
    overflow-x: hidden; /* Disable horizontal scroll */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* https://manuel.pinto.dev */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menu_top_images {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 2%;
}

.menu_logo {
    width: 75px;
}

.menu_icon {
    width: 2rem;
    cursor: pointer;
}

.burger-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    position: sticky; /* Stay in place */
    column-gap: 3rem;
    padding-top: 5%;
    font-size: larger;
}

.burger-elements {
    color: white;
    font-family: Acrom;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

.element1 {
    display: flex;
    justify-content: center;
    margin-left: 40%;
}

.element2 {
    display: flex;
    justify-content: center;
    margin-right: 40%;
}

.burger-link {
    padding-bottom: 20%;
    color: white;
}

.link_text {
    color: white;
    text-decoration: underline;
}

.b-link-content {
    display: flex;
    align-content: center;
    gap: 10px;
}

.burger_logo {
    width: 50px;
    display: none;
}

.sicon {
    width: 25px;
}

.show {display:block;} 

.hide_bg {
    background-color: transparent !important;
} 

@media screen and (max-width: 600px) {

    .burger-container {
        column-gap: 0rem;
        font-size: medium;
        margin-top: 10%;
    }

    .element1 {
        display: flex;
        justify-content: center;
        margin-left: 20%;
    }
    
    .element2 {
        display: flex;
        justify-content: center;
        margin-right: 20%;
    }

    .menu_logo {
        width: 60px;
    }

    .menu_top_images {
        padding-top: 3%;
        padding-right: 3%;
    }

    .sicon {
        width: 20px;
        height: 20px;
    }
    

}


@media screen and (max-width: 400px) {

    .burger-container {
        font-size: small;
    }

}

/* --------------------------------------------------------- STICKY HEADER */

.sticky-header {
    display: grid;
    grid-template-columns: auto repeat(2, minmax(100px, 700px)) auto;
    grid-template-rows: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
}

.logos {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    gap: 2vw;
}

.header-links {
    grid-column: 3;
    font-family: Acrom;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    color: black;
    padding-right: 3rem;
}

.signup_header {
    display: none;
}

.header-link {
    padding: 8px;
    border-radius: 4px;
}

.header-link:hover {
    color: white;
    transition-duration: 0.1s;
}

.hlink1:hover {
    background-color: #0814f1;
}

.hlink2:hover {
    background-color: #f40405;
}

.hlink3:hover {
    background-color: #e805f6;
    color: white;
}

.hlink4:hover {
    background-color: #03c842;
}

.hlink5:hover {
    background-color: #f7e905;
}

.hlink6:hover {
    background-color: black;
}

.circus_logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circus_logo {
    display: none;
    width: 30px;
}

.circus_wordlogo {
    width: 90%;
}

.search_icon {
    width: 2rem;
}

.hlink6 {
    min-width: 80px;
}

/* --------------------------------------------------------- MENU ANIMATION */

.bar_menu {
    cursor: pointer;
    margin-bottom: 5px;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 7px) ;
    transform: rotate(-45deg) translate(-3px, 7px) ;
    background-color: white;
  }
  
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -7px) ;
  transform: rotate(45deg) translate(-3px, -7px) ;
  background-color: white;
}


/* --------------------------------------------------------- */



@media screen and (max-width: 1250px) {

    .circus_wordlogo {
        width: 80%
    }

    .circus_logo {
        width: 20px;
    }

}

@media screen and (max-width: 1100px) {

    .sticky-header {
        grid-template-columns: repeat(2, minmax(100px, 700px));
        grid-template-rows: 60px;
    }

    .logos {
        grid-column: 1;
        padding-left: 1rem;
        gap: 1rem;
    }

    .circus_wordlogo {
        width: 300px;
        margin-left: -5px;
    }

    .circus_logo {
        width: 20px;
    }
    
    .links {
        display: none;
    }

    .signup_header {
        grid-column: 2;
        font-family: Acrom;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 15px;
        margin-right: 0.5rem;
    }

    .header-links {
        grid-column: 2;
        display: none;
    }

    .hlink6 {
        background-color: black;
        color: white;
        padding: 3px 8px;
        border-radius: 3px;
        min-width: 80px;
    }

}

@media screen and (max-width: 550px) {

    .circus_wordlogo {
        width: 220px
    }

    .circus_logo {
        width: 15px;
    }


}

@media screen and (max-width: 400px) {

    .circus_wordlogo {
        display: none;
    }

    .circus_logo {
        display: block;
        width: 40px;
        margin-bottom: 5px;
    }

}

/* --------------------------------------------------------- FOOTER */

.footer-container {
    display: grid;
    grid-template-columns: auto minmax(100px, 1540px) auto;
    grid-template-rows: 48px auto 48px;
    font-family: Acrom;
}

.responsive_footer_logo {
    width: 60px;
    padding-bottom: 1.1rem;
}

.footer_title {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Acrom;
    color: #ff6767;
}

.footer_bar {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 3px 0;
}

.footer_bar2 {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 3px 0;
    grid-row: 3;
    grid-column: 2;
}

.footer_links {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-link {
    padding-bottom: 1.5rem;
    display: flex;
    align-content: center;
    gap: 10px;
    color: black;
  }

.social-link {
    text-decoration: underline;
}

.footer-logo {
    padding-bottom: 0.5rem;
}

ul.footer-list {
    padding-right: 3rem;
    list-style-type: none;
}

.footer-icon {
    width: 20px;
}

@media screen and (max-width: 1540px) {

    ul.footer-list {
        padding-right: 3rem;
        list-style-type: none;
        flex-grow: 1;
    }

}

@media screen and (max-width: 900px) {

    ul.footer-list {
        padding-right: 3rem;
        list-style-type: none;
        flex-basis: 50%;
    }


}


@media screen and (max-width: 600px) {

    ul.footer-list {
        padding-right: 0.5rem;
        list-style-type: none;
        padding-left: 1rem;
    }
    

}