/* --------------------------------------------------------- BUMPERS */

.bumper-container {
    display: grid;
    grid-template-columns: auto minmax(200px, 1540px) auto;
    margin-bottom: 20px;
}

.about_text {
    color: black !important;
}

.bumpers {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 20px;
}

.flex_bumper {
    border: black;
    border-style: solid;
    border-width: 2px;
    /* border-radius: 7px; */
    width: 200px;
}

.responsive_bumper_item {
    font-size: larger;
    background-color: white;
    color: black;
    font-family: Acrom;
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* border-radius: 5px; */
}

@media screen and (max-width: 1540px) {

    .bumper-container {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .responsive_bumper_item {
        font-size: medium;
    }

}

@media screen and (max-width: 500px) {
    
    .flex_bumper {
        width: 120px;
    }
    
}

/* --------------------------------------------------------- ANIMATIONS */

.about_bumper:hover {
    transition: 0.3s;
    background-color: #f7e905;
}

.about_bumper:hover:first-child {
    transition: 0.1s;
    color: white;
}

.playlists_bumper:hover {
    transition: 0.3s;
    background-color: #03c842;
}

.playlists_bumper:hover:first-child {
    transition: 0.1s;
    color: white;
}

.merch_bumper:hover {
    transition: 0.3s;
    background-color: #f40405;
}

.merch_bumper:hover:first-child {
    transition: 0.1s;
    color: white;
}

.artists_bumper:hover {
    transition: 0.3s;
    background-color: #e805f6;
}

.artists_bumper:hover:first-child {
    transition: 0.1s;
    color: white;
}