.contact_container {
    display: grid;
    grid-template-rows: 48px 150px 300px;
    grid-template-columns: auto 770px 770px auto;
}

.contact_page_bar {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    grid-column: 2 / span 2;
    grid-row: 1;
}

.contact_descrip {
    font-family: Acrom;
    grid-column: 2;
    grid-row: 2;
    padding-left: 2rem;
}

.emails {
    font-family: Acrom;
    grid-column: 2;
    grid-row: 3;
    padding-left: 2rem;
}

.demo_descrip {
    font-family: Acrom;
    grid-column: 3;
    grid-row: 2;
    padding-left: 2rem;
}

.demo_links {
    font-family: Acrom;
    grid-column: 3;
    grid-row: 3;
    padding-left: 2rem;
}
