.home_page_bar_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto minmax(100px, 1540px) auto;
}

.home_page_bar {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    grid-column: 2;
    margin-bottom: 25px;
}

.home_page_bar_container2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto minmax(100px, 1540px) auto;
}

.home_page_bar2 {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    grid-column: 2;
    margin-bottom: 30px;
}

.front_page_about_us_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto minmax(100px, 1390px) auto;
    margin-bottom: 20px;
}

.front_page_about_us {
    font-size: medium;
    /* font-style: italic; */
    padding-left: 1rem;
    padding-right: 1rem;
    grid-column: 2;
    font-family: Acrom;
}

@media screen and (max-width: 1000px) {

    .front_page_about_us {
        font-size: smaller;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}