/* --------------------------------------------------------- MERCH */

.block-latest_merch {
    display: grid;
    grid-template-columns: auto minmax(100px, 1540px) auto;
    grid-template-rows: 48px auto;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

.merch_title {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    font-family: Acrom;
    color: #f40405;
    font-size: large;
}

.merch_bar {
    width: 100%;
    height: 2px;
    background-color: #f40405;
    margin: 3px 0;
}

/* --------------------------------------------------------- */

.merch-items {
    grid-row: 2;
    grid-column: 2;
    font-size: smaller;
    list-style-type: none;
    width: 90%; 
    padding-left: 0;
    margin:0px auto;
}

.merch-item {
    font-family: Acrom;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.responsive_merch {
    border-radius: 3%;
    border: 1px solid rgb(85, 85, 85);
    height: auto;
    width: 100%;
}

.responsive_merch:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.merch_descrip {
    padding-top: 7px;
}

.see_more_merch_text {
    position: absolute;
    color: white;
    padding-left: 7rem;
    padding-top: 9rem;
    font-size: larger;
}


@media screen and (max-width: 1540px) {
    
    .responsive_merch, .merch-item {
        /* width: 300px; */
    }

    .merch-items {
        /* display: flex;
        flex-flow: row wrap;
        padding: 0;
        justify-content: flex-start;
        gap: 50px; */
    }

}

@media screen and (max-width: 1400px) {

    .merch-items {
        /* gap: 3vw; */
    }
    
    .responsive_merch, .merch-item {
        /* width: 20vw; */
    }

}

@media screen and (max-width: 1000px) {

    .merch-items {
        /* gap: 4vw;
        height: 300px; */
    }
    
    .responsive_merch, .merch-item {
        /* width: 27vw; */
    }

}


@media screen and (max-width: 750px) {

    .merch-items {
        /* gap: 6vw; */
    }
    
    .responsive_merch, .merch-item {
        /* width: 40vw; */
    }

}

@media screen and (max-width: 650px) {

    .merch-items {
        /* gap: 4vw; */
    }
    
    .responsive_merch, .merch-item {
        /* width: 65vw; */
    }

    .block-latest_merch {
        margin-bottom: 20px;
    }

}