.hlink1 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: #0814f1;
    pointer-events: none;
}

li {
    list-style-type: none;
}

.release-page-container {
    display: grid;
    grid-template-columns: auto repeat(2, minmax(100px, 770px)) auto;
    grid-template-rows: 48px 100px auto 48px;
}

.releases_page_bar {
    width: 100%;
    height: 2px;
    background-color: #0814f1;
    margin: 3px 0;
    grid-column: 2;
    grid-column-end: span 2;
    grid-row: 1;
}

.release__artist-tags {
    padding-left: 0;
}

.page_numbers {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: Acrom;
    grid-column: 2 / span 2;
    grid-row: 4;
}

.page_numbers li {
    margin: 0 5px;
}


/* --------------------------------------------------------- */

.filter_form {
    width: 90%;
    font-family: Acrom;
    padding-left: 2rem;
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 45px;
}

.ts-wrapper {
    margin-bottom: 1rem;
    width: 500px;
}

.submit_button {
    background-color: #0814f1;
    font-family: Acrom;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 5%;
    border: none;
    font-size: medium;
    cursor: pointer;
    height: 35px;
}

.reset_button {
    padding: 5px;
    color: #0814f1;
    font-family: Acrom;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    border-radius: 5%;
    border: 1px solid #0814f1;
    font-size: medium;
    cursor: pointer;
    height: 35px;
}

/* --------------------------------------------------------- */

.releases_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    width: 100%;
    /* justify-content: center; */
    gap: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.release_list_item {
    font-family: Acrom;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: small;
    margin-bottom: 15px;
    width: 100%;
    /* align-self: flex-start; */
}

.responsive_packshot {
    width: 100%;
    height: auto;
    border: 1px solid rgb(85, 85, 85);
}

.responsive_packshot:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.releases_catalogue_container {
    grid-row: 3;
    grid-column: 2 / span 2;
    display: flex;
}

.format {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.release_info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.release_credits {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-basis: 50%
}

.release__artist-tags {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
    flex-basis: 50%;
    gap: 8px;
    align-items: flex-end;
    margin-top: 3px;
}

.release_title {
    font-style: oblique;
}

.release_type {
    color: white;
    background-color: black;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
}

.release_artist_name_link {
    color: white;
    background-color: #0814f1;
    border-radius: 3px;
    padding: 2px;
}

.release_label {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1540px) {
    
    /* .responsive_packshot, .release_list_item {
        width: 300px;
    }

    .releases_list {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        gap: 50px;
    } */

    .releases_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        width: 100%;
        /* justify-content: center; */
        gap: 45px;
    }

}

@media screen and (max-width: 1400px) {

    /* .releases_list {
        gap: 3vw;
    }
    
    .responsive_packshot, .release_list_item {
        width: 20vw;
    } */

    .release_info {
        flex-direction: column;
    }

    .release__artist-tags {
        align-items: flex-start;
    }

    .filter_form {
        grid-column: 2 / span 2;
    }

    .releases_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        width: 100%;
        /* justify-content: center; */
        gap: 35px;
    }

}

@media screen and (max-width: 1050px) {

    /* .releases_list {
        gap: 4vw;
    }
    
    .responsive_packshot, .release_list_item {
        width: 27vw;
    } */

    .releases_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        width: 100%;
        /* justify-content: center; */
        gap: 30px;
    }

}


@media screen and (max-width: 750px) {

    /* .releases_list {
        gap: 6vw;
    }
    
    .responsive_packshot, .release_list_item {
        width: 40vw;
    } */

    .releases_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        width: 100%;
        /* justify-content: center; */
        gap: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }

}

@media screen and (max-width: 650px) {

    /* .releases_list {
        gap: 4vw;
    }
    
    .responsive_packshot, .release_list_item {
        width: 45vw;
    } */

    .releases_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        width: 100%;
        /* justify-content: center; */
        gap: 15px;
    }

}

@media screen and (max-width: 450px) {

    .release_type {
        display: none;
    }

}