
.block-latest_releases {
    display: grid;
    grid-template-columns: auto minmax(100px, 1540px) auto;
    grid-template-rows: 48px auto;
    overflow-x: hidden;
    padding-bottom: 4rem;
}

li {
    list-style-type: none;
}

.releases_title {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    font-family: Acrom;
    color: #0814f1;
    font-size: large;
}


.releases_bar {
    width: 100%;
    height: 2px;
    background-color: #0814f1;
    margin: 3px 0;
}

/* --------------------------------------------------------- */

.releases_list {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.release_list_item {
    margin-right: 4rem;
    font-family: Acrom;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: smaller;
}

.responsive_packshot {
    width: 236px;
    height: auto;
    border-radius: 3%;
    border: 1px solid rgb(85, 85, 85);
    margin-bottom: 5px;
}

.item_content {
    width: 236px;
}

.responsive_packshot:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}


.releases_info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.see_more {
    margin-top: 26px;
}

.format {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.release_info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.release_credits {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-basis: 50%
}

.release__artist-tags {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
    flex-basis: 50%;
    gap: 8px;
    align-items: flex-end;
    margin-top: 3px;
}

.release_title {
    font-style: oblique;
}

.release_type {
    color: white;
    background-color: black;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
}

.release_artist_name_link {
    color: white;
    background-color: #0814f1;
    border-radius: 3px;
    padding: 2px;
}


@media screen and (max-width: 1540px) {
    
    .responsive_packshot, .release_list_item, .item_content {
        width: 300px;
    }

    .releases_list {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        justify-content: flex-start;
        gap: 50px;
    }

}

@media screen and (max-width: 1400px) {

    .releases_list {
        gap: 3vw;
    }
    
    .responsive_packshot, .release_list_item, .item_content {
        width: 20vw;
    }

    .release_info {
        flex-direction: column;
    }

    .release__artist-tags {
        align-items: flex-start;
    }

}


@media screen and (max-width: 1000px) {

    .releases_list {
        gap: 4vw;
    }
    
    .responsive_packshot, .release_list_item, .item_content {
        width: 27vw;
    }

}

@media screen and (max-width: 750px) {

    .releases_list {
        gap: 6vw;
        margin-left: 30px;
    }
    
    .responsive_packshot, .release_list_item, .item_content {
        width: 40vw;
    }

}

@media screen and (max-width: 650px) {

    .releases_list {
        gap: 4vw;
    }
    
    .responsive_packshot, .release_list_item, .item_content {
        width: 65vw;
    }
}