.hlink1 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    color: #0814f1;
    pointer-events: none;
}

li {
    list-style-type: none;
}

.release-page-container {
    display: grid;
    grid-template-columns: auto repeat(2, minmax(100px, 770px)) auto;
    grid-template-rows: 48px 160px auto 48px;
}

.releases_main_descrip {
    font-family: Acrom;
    grid-column: 2;
    grid-row: 2;
    padding-left: 2rem;
    display: block;
}

.releases_title {
    grid-row: 1;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Acrom;
    color: #0814f1;
    font-size: x-large;
    padding-bottom: 30px;
}

.release_title_txt {
    white-space: nowrap;
    padding-right: 10px;
}

.releases_page_bar {
    width: 100%;
    height: 2px;
    background-color: #0814f1;
    margin: 3px 0;
    grid-column: 2;
    grid-column-end: span 2;
    grid-row: 1;
}

.release__artist-tags {
    padding-left: 0;
}

/* .releases {
    font-family: Acrom;
    padding: 2rem;
} */

.page_numbers {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: Acrom;
}

.page_numbers li {
    margin: 0 5px;
}


/* --------------------------------------------------------- */

.filter_form {
    width: 30%;
    font-family: Acrom;
    padding-left: 2rem;
}

.ts-wrapper {
    margin-bottom: 1rem;
}

.submit_button {
    background-color: #0814f1;
    font-family: Acrom;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 5%;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.reset_button {
    padding: 5px;
}

/* --------------------------------------------------------- */

.releases_list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.release_list_item {
    font-family: Acrom;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: small;
}

.responsive_packshot {
    width: 280px;
    height: auto;
    border-radius: 3%;
    border: 1px solid rgb(85, 85, 85);
}

.responsive_packshot:hover {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.releases_catalogue_container {
    grid-row: 3;
    grid-column: 2 / span 2;
}

.filters {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 9%;
}

.filter_button {
    background-color: #0814f1;
}


@media screen and (max-width: 1540px) {
    
    /* .release-page-container {
        grid-template-columns: auto repeat(4, 347.5px) auto;
    } */

}

@media screen and (max-width: 600px) {

    .release-page-container {
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 48px minmax(min-content, max-content) minmax(min-content, max-content); */
        gap: 0rem;
        padding-bottom: 10px;
    }

    .releases_catalogue_container {
        grid-row: 3;
        grid-column: 1 / span 2;
        grid-template-columns: repeat(auto-fill, minmax(min(20rem, 50%), 1fr));
    }

    .releases_page_bar {
        grid-column: 1 / span 2;
    }

    .releases_main_descrip {
        grid-column: 1;
        overflow: hidden;
    }

    .filters {
        grid-column: 2;
    }

    .releases_title {
        grid-column: 1;
        grid-column-end: span 2;
        font-size: medium;
        padding-bottom: 10px;
    }

    .releases {
        padding: 0.7rem;
        font-size: small;
    }
    

    .see-more-releases {
        grid-row: 4;
        grid-column: 2;
    }

    .release-button{
        font-size: 0.8em;
        padding: 10px 20px
    }
}