.hlink6 {
    display: none;
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 4px;
    pointer-events: none;
}

.signup_link {
    text-decoration: underline;
}

.signup_container {
    display: grid;
    grid-template-rows: 48px auto auto auto;
    grid-template-columns: auto minmax(100px, 1540px) auto;
    margin-bottom: 30px;
}

.signup_page_bar {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    grid-column: 2;
    grid-row: 1;
}

.signup_content {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-flow: row;
}

.signup_info {

}

.signup_main_descrip {
    font-family: Acrom;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.contact_form {
    font-family: Acrom;
    padding-left: 2rem;
    padding-right: 2rem;
}

.signup_pic_static {
    width: 100%;
    height: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    object-fit: cover;
}

.list_content_title {
    grid-row: 3;
    grid-column: 2;
    font-family: Acrom;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #b62889;
    font-size: large;
}

.list_bar {
    width: 100%;
    height: 2px;
    background-color: #b62889;
    margin: 3px 0;
}

.list_info {
    margin-top: 0.5rem;
    color: black;
    font-size: medium;
}

.mailing_list_content {
    grid-row: 4;
    grid-column: 2;
    /* display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    gap: 100px; */
    /* padding-left: 2rem;
    padding-right: 2rem; */
    list-style-type: none;
    width: 90%; 
    padding-left: 0;
    margin:0px auto;
}

.news_image {
    /* width: 420px;
    height: auto;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px; */
    width: 100%;
    height: auto;
}

.news-items {
    margin: 10px;
}

@media screen and (max-width: 900px) {

    .signup_pic_static {
        display: none;
    }

    .signup_content {
        flex-flow: column;
        gap: 30px;
    }

    .mailing_list_content {
        /* grid-row: 4;
        grid-column: 2;
        display: flex;
        flex-flow: column;
        list-style-type: none;
        padding: 0;
        gap: 20px;
        padding-left: 2rem;
        padding-right: 2rem; */
    }

    .news_image {
        /* width: 100%;
        height: auto;
        border: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 8px; */
    }

}