/* --------------------------------------------------------- CAROUSEL */

.carousel-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1390px auto;
    padding-bottom: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.carousel-cell {
    margin-right: 10px
}

.carousel {
    grid-column: 2;
}

.responsive_banner_large {
    width: 100%;
}

.responsive_banner_small {
    width: 100%;
    height: auto;
    display: none;
}

@media screen and (max-width: 1540px) {


}

@media screen and (max-width: 600px) {

    .carousel-container {
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .responsive_banner_large {
        display: none;
    }

    .responsive_banner_small {
        display: block;
    }
    
}