body {
    /* overflow: hidden; */
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.responsive_banner {
    width: 100%;
    height: auto;
}

h6 {
    font-family: Acrom;
}

/* --------------------------------------------------------- BURGER MENU */

.burger-bg {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    display: none;
    overflow-x: hidden; /* Disable horizontal scroll */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* https://manuel.pinto.dev */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.menu_top_images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.menu_logo {
    width: 4rem;
}

.menu_icon {
    width: 2rem;
}

.burger-container {
    display: grid;
    /* grid-template-columns: auto repeat(4, 324px) auto; */
    /* grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr)); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh;
    position: sticky; /* Stay in place */
    column-gap: 3rem;
    padding-top: max(10vh, 40px);
}

.burger-elements {
    color: white;
    font-family: Acrom;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;

}

.burger-link {
    padding-bottom: 3vh;
}

/* .element1 {
    grid-column: 2;
    grid-row: 1;
}

.element2 {
    grid-column: 3;
    grid-row: 1;
}

.element3 {
    grid-column: 4;
    grid-row: 1;
}

.element4 {
    grid-column: 5;
    grid-row: 1;
} */

/* --------------------------------------------------------- STICKY HEADER */

.sticky-header {
    display: grid;
    grid-template-columns: auto repeat(4, 324px) auto;
    grid-template-rows: 62px;
    gap: 5vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 0;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: 2;
}

.responsive_logo {
    width: 2rem;
}

.links {
    grid-column: 3;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

/* .electric_logo {
    opacity: 0.5;
}

.dpmo_logo {
    opacity: 0.5;
} */

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 5;
    font-family: Acrom;
}

@media screen and (max-width: 600px) {
    .sticky-header {
        grid-template-columns: 1fr 1fr;
        /* gap: 25vw; */
        background-color: rgba(255,255,255,0.9);
    }

    .logos {
        grid-column: 1;
    }
    
    .links {
        display: none;
    }
    
    .search {
        grid-column: 2;
    }
}

/* --------------------------------------------------------- CAROUSEL */

.carousel-container {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: auto 1536px auto;
    /* position: relative;
    z-index: 0; */
}

.image-placeholder {
    grid-column: 2;
    background-color: blueviolet;
}

@media screen and (max-width: 600px) {

    .carousel-container {
        display: grid;
        grid-template-rows: minmax(min-content, max-content) 20px;
        grid-template-columns: 1fr;
        /* position: relative;
        z-index: 0; */
    }

    .image-placeholder {
        grid-column: 1;
        background-color: blueviolet;
        display: none;
    }
}

/* --------------------------------------------------------- RELEASES */

.releases_title {
    grid-row: 1;
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Acrom;
    color: #0062dc;
}

.releases_bar {
    width: 53vw;
    height: 2px;
    background-color: #0062dc;
    margin: 3px 0;
}

.release-container {
    display: grid;
    grid-template-columns: auto repeat(4, 324px) auto;
    grid-template-rows: 48px 432px 150px;
    gap: 3rem;
}

.releases {
    font-family: Acrom;
    padding-bottom: 1rem;
}

.responsive_packshot {
    width: 100%;
    height: auto;
    border-radius: 3%;
    border: 1px solid rgb(85, 85, 85);
}

.release1 {
    grid-column: 2;
    grid-row: 2;
}

.release2 {
    grid-column: 3;
    grid-row: 2; 
}

.release3 {
    grid-column: 4;
    grid-row: 2;
}

.release4 {
    grid-column: 5;
    grid-row: 2;
}

@media screen and (max-width: 600px) {

    .release-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px minmax(min-content, max-content) minmax(min-content, max-content) 48px;
        gap: 1rem;
    }
    
    .release1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .release2 {
        grid-column: 2;
        grid-row: 2; 
    }
    
    .release3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .release4 {
        grid-column: 2;
        grid-row: 3;
    }

    .see-more {
        grid-row: 4;
        grid-column: span 2;
        font-family: Acrom;
        text-decoration: underline;
        display: flex;
        justify-content: center;
    }
}

/* --------------------------------------------------------- MERCH */

.merch-container {
    display: grid;
    grid-template-columns: auto repeat(4, 324px) auto;
    grid-template-rows: 48px 432px 150px;
    gap: 3rem;
}

.merch-items {
    font-family: Acrom;
    padding-bottom: 1rem;
}

.merch-button {
    background-color: black;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
}

.item1 {
    grid-column: 2;
    grid-row: 2;
}

.item2 {
    grid-column: 3;
    grid-row: 2; 
}

.item3 {
    grid-column: 4;
    grid-row: 2;
}

.item4 {
    grid-column: 5;
    grid-row: 2;
}

@media screen and (max-width: 600px) {

    .merch_title {
        grid-row: 1;
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Acrom;
        color: #de1c1c;
    }
    
    .merch_bar {
        width: 77vw;
        height: 2px;
        background-color: #de1c1c;
        margin: 3px 0;
    }

    .merch-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px minmax(min-content, max-content) minmax(min-content, max-content) 48px;
        gap: 1rem;
    }
    
    .merch-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .responsive_merch {
        width: 45vw;
    }
    
    .item1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .item2 {
        grid-column: 2;
        grid-row: 2; 
    }
    
    .item3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .item4 {
        grid-column: 2;
        grid-row: 3;
    }
}

/* --------------------------------------------------------- LIVESTREAM */

.livestream-container {
    display: grid;
    grid-template-columns: auto 1536px auto;
    grid-template-rows: 864px 48px;
}

.livestream {
    /* background-color: saddlebrown; */
    grid-column: 2;
}

@media screen and (max-width: 600px) {

    .livestream_title {
        grid-row: 1;
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Acrom;
        color: #148c39;
    }
    
    .livestream_bar {
        width: 65vw;
        height: 2px;
        background-color: #148c39;
        margin: 3px 0;
    }

    .livestream-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48px minmax(min-content, max-content);
        padding-bottom: 2rem;
    }
    
    .livestream {
        /* background-color: saddlebrown; */
        grid-column: 1;
        grid-row: 2;
    }
}

/* --------------------------------------------------------- SIGNUP */

.signup-container {
    display: grid;
    grid-template-columns: auto 1536px auto;
    grid-template-rows: 500px 48px;
}

.signup {
    /* background-color:chartreuse; */
    grid-column: 2;
    font-family: Acrom;
}

@media screen and (max-width: 600px) {

    .signup_title {
        grid-row: 1;
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Acrom;
        color: #eb5e00;
    }
    
    .signup_bar {
        width: 74vw;
        height: 2px;
        background-color: #eb5e00;
        margin: 3px 0;
    }

    .signup-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48px 232px;
        padding-bottom: 2rem;
    }
    
    .signup {
        /* background-color:chartreuse; */
        grid-column: 1;
        grid-row: 2;
    }

    .info-entry {
        color: grey;
        background-color: azure;
    }
}

/* --------------------------------------------------------- ABOUT */

.about-container {
    display: grid;
    grid-template-columns: auto 1536px auto;
    grid-template-rows: 500px 48px;
}

.about {
    /* background-color:darkturquoise; */
    grid-column: 2;
}

@media screen and (max-width: 600px) {

    .about_title {
        grid-row: 1;
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Acrom;
        color: #e556ff;
    }
    
    .about_bar {
        width: 76vw;
        height: 2px;
        background-color: #e556ff;
        margin: 3px 0;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48px 232px;
        padding-bottom: 2rem;
    }
    
    .about {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        }
/* 
    .about-item {
        background-color:darkturquoise;
    } */

    .responsive_about_item {
        width: 45%;
        height: auto;
        border-radius: 3%;
        border: 1px solid rgb(85, 85, 85);
    }
    
}

/* --------------------------------------------------------- FOOTER */

.footer-container {
    display: grid;
    grid-template-columns: auto 1536px auto;
    grid-template-rows: 500px 48px;
}

.footer {
    background-color:darkslateblue;
    grid-column: 2;
}

@media screen and (max-width: 600px) {

    .footer_title {
        grid-row: 1;
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Acrom;
        color: #ff6767;
    }

    .footer_logo {
        grid-column: 1;
        grid-row: 2
    }

    .responsive_footer_logo {
        width: 15vw;
    }
    
    .footer_bar {
        width: 100%;
        height: 1px;
        background-color: black;
        margin: 3px 0;
    }
    
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px 48px 232px 232px;
        font-family: Acrom;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    
    .footer_links1 {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-decoration: underline;
    }

    .footer_links2 {
        grid-column: 2;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-decoration: underline;
    }

    .footer_socials1 {
        grid-column: 1;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-decoration: underline;
    }

    .footer_socials2 {
        grid-column: 2;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-decoration: underline;
    }
}